.modal-box{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    overflow: hidden;
    
}
.msg-box{
    background-color: white;
    position: absolute;
    border-radius: 10px;
    box-shadow: 3px 2px 10px rgba(4, 4, 4, 0.5);
    padding: 1rem;
    font-family: Roboto;
    justify-content: center;
    align-items: center;
    display: flex;
} 
