.login-page{
    padding-top:2rem ;
}
.welcome{
    text-align: center;
}

.login-input-field{
    margin-right: 1rem;
}
.login-page label span{
  padding: 0 0 90px 0;
}
.me label{
    padding-top: 10px;
}

.dashB{
    text-align: center;
   margin: 1rem 1rem 3rem 1rem;
 }

 .me{
    display: flex;
    justify-content: space-between;
    align-content: center;
    /* border: 1px solid green; */
 }
 .me p{
    margin-right: 13px;
 }

.remember{
    display: flex;
}

.box{
    width: 25px;
    height: 22px;
    position: relative;
    top:3.5px;    
 }


 .remember{
    margin-left:-16px;
 }

.dont{  
    display: flex;  
    justify-content: space-between;
}

.dontText{
    opacity: 50%;
    margin-left: 15px;
}

.up, a{
    margin: 1rem;
}
.meText{
  opacity: 80%;  
} 