.input-field{
    display: flex;  
    width: 15rem;
    justify-content: center;
    padding-left: 5.7rem;
}

.input-field input{
    display: inline-block;
    width: 1rem ;
    margin: 10px;
    padding: 0.4rem;
    text-align: center;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
}

