.next-of-kin, .bvn{
    border-top: 1px solid black;
    font-family: Roboto;
    padding: 0.5rem;
}
.bvn{
    margin-top: 1rem;
}

.prev{
   padding: 10px; 
   margin: 0;
}

.bank-list{
    width: 100%;
    padding: 1rem;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 5px;
}
