.img-size{
    width: 100%;
}
.form-heading{
    display: flex;
    justify-content: space-between;
    width: 100%;
    display: flex;
    font-family: Roboto;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

.form-heading div:nth-child(1){
    background-color: blueviolet;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    color: white;
}

.kyc-form{
    border-top: 1px solid purple;
    border-bottom: 1px solid purple;
    padding: 0.5rem 1.5rem 1rem 1.5rem;
    margin: 1rem 0 0 0 ;   
    font-family: Roboto; 
}
.kyc-form p, span{
    padding: 5px;
    margin: 5px;
}

.kyc-form select , option{
 width: 100%;
 padding: 1rem;
 border-radius: 10px;
 outline: none;
 border: 1px solid gray;
}

.add-cards{
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.next-page2{
    text-align: right;
    padding: 1rem;
    cursor: pointer;
}
